.nav{
    padding: 1% 2%;
    background-color: #fff;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10000;
    padding-top: 10px;
    padding-bottom: 8px;
  
     
}
.nav .nav-left a{
    text-decoration: none;
}
.nav .nav-left img  {
    width: 30px;
    cursor: pointer;
    
}
.nav .nav-left  span{
  position: relative;
  font-size: larger;
  font-weight: bold;
  letter-spacing: -1px;
  margin-left: 2px;
  cursor: pointer;
  color: #000;
  text-decoration: none;
  top: -8px;
 
  
}
.nav .nav-left  span sup{
    font-size: 10px;
    font-weight: normal;
    color: #6b6767;
}
.nav-search{
     width: 600px;
     border: 1px #a8a7a7 solid ; 
     border-radius: 25px;
    
} 
.nav .nav-middle .nav-search input{
    border: none;
    width: 90%;
    padding: 7px 12px;
     padding-left: 10px;
     outline: none;
     font-size: 17px;
     width: 89%;
     border-radius: 25px   0  0 25px;
   
}
.nav .nav-middle .nav-search .search-icon{
    height: 33px;
    width: 11%;
    padding: 0;
    border-left: 1px  #6b6767 solid;
    padding-left: 18px;
    padding-top: 7px;
    padding-bottom: 7px;
    background-color: #eeeeeeb9;
    border-radius: 0   25px  25px 0;
    position: relative;
   
}
.nav .nav-middle .mic-icon{
    width: 35px;
    height: 35px;
    background-color: #eee ;
    margin-left: 20px;
    position: relative;
    border-radius: 50%;
    padding: 19px;
   
}
.nav .nav-right img{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    cursor: pointer;
}
.nav hr{
    color: red;
    height: 2px;
    width: 80%; 
}
/*Responsive*/
@media (max-width : 992px) {
    .nav{
        /* padding-top: 3%;
        padding-bottom: 2%; */
       
    }
    .nav .nav-left .SIMenu{
        display: none;
    }
    .nav .nav-left img {
        width: 25px;
        margin-right: 5px;
    }
    .nav .nav-left  span{
        display: none;
    }
    .nav-search{
        width: 400px ;
    }
    .nav .nav-right .TbVideoPlus , .nav .nav-right .IoIosNotificationsOutline{
        display: none;
    }
    .nav .nav-right img{
        display: block;
        margin-left: 5px;
    }
}


@media (max-width : 576px) {
    .nav-search{
        width: 200px ;
    }
    .nav .nav-middle .mic-icon{
        display: none;
    }
}